body {
  background-color: #f7f8e3;
  margin: 0;
  height: 100vh;
  width: 100vh;
  font-family: sans-serif;
}

.card {
  color: white;
  width: 50%;
  margin: auto;
  background-color: #474747;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 30px #000;
}

.card_title {
  text-transform: uppercase;
}

.card_description {
  letter-spacing: 3px;
}

.card_content {
  text-align: left;
}

.card_img {
  width: 150px;
  border-radius: 100%;
}
